.App {
  --primary-color: #056bb3;

  --background-color: white;
  --text-color-ligth: white;
  --text-color-dark: black;
  --button-color: black;

  --chart-bg-color: #eee;
  --controls-bg-color: #004c8c;

  --bar-default-color: lightseagreen;
  --bar-sorted-color: green;
  --bar-group-a-color: firebrick;
  --bar-group-b-color: orange;

  --progress-bar-bg-color: grey;
  --progress-bar-progress: rgba(0, 0, 0, 0.25);
}
