.App {
  --primary-color: #056bb3;
  --secondary-color: lightseagreen;

  --chart-bg-color: #74bbe4;
  --controls-bg-color: #004c8c;

  --bar-default-color: lightseagreen;
  --bar-sorted-color: green;
  --bar-compared-color: firebrick;
}
