.App {
  --primary-color: #056bb3;
  --secondary-color: lightseagreen;

  --background-color: white;
  --text-color: black;

  --chart-bg-color: #eee;
  --controls-bg-color: #004c8c;

  --bar-default-color: lightseagreen;
  --bar-sorted-color: green;
  --bar-compared-color: firebrick;

  --progress-bar-bg-color: grey;
  --progress-bar-progress: rgba(0, 0, 0, 0.25);
}
