/* BLOCK */

.Controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: auto;
  margin: 20px;
}

.Controls > * {
  margin: 0px 10px;
}

/* ELEMENTS */

.Controls__Button {
  width: 50px;
  height: 50px;

  font-size: 1em;
  font-weight: 400;
  color: black;
}

.Controls__Button:active {
  opacity: 0.8;
}
