/* BLOCK */

.Controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 640px;
  height: 100px;
  margin: 20px;

  border: solid 1px black;
  border-radius: 20px;
  background-color: var(--controls-bg-color);
}

.Controls > * {
  margin: 0px 10px;
}

/* ELEMENTS */

.Controls__Button {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 70px;
  height: 30px;
  padding: 5px;
  outline: none;

  border: solid 1px black;
  border-radius: 10px;
  background-color: var(--secondary-color);

  font-size: 1em;
  font-weight: 400;
  color: white;
}

.Controls__Button:active {
  opacity: 0.8;
}
