/* BLOCK */

.AppBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0px 20px;
  box-shadow: 2px 1px 3px 2px rgba(0, 0, 0, 0.32);
}

/* ELEMENTS */

.AppBar__Title {
  font-size: 1.5em;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  color: var(--primary-color);
  user-select: none;
}

.AppBar__Controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.AppBar__Menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}

.AppBar__Label {
  font-family: 'Roboto', sans-serif;
  font-size: 1.1em;
  font-weight: 400;
  user-select: none;
  margin: 0px 10px;
  color: var(--text-color);
}

@media screen and (max-width: 600px) {
  .AppBar__Label {
    display: none;
  }
}
