/* BLOCKS */

.List {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 5px;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

/* ELEMENTS */

.List__Button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
  cursor: pointer;
  text-align: center;
  user-select: none;
}

.List__Value {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: var(--text-color);
  filter: invert(50%);
}

.List__Icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  color: var(--text-color);
  filter: invert(50%);
}

.List__Content {
  position: absolute;
  z-index: 20;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  top: 120%;
  margin: 0;
  padding: 0;
  list-style: none;

  background-color: white;
  box-sizing: border-box;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.17);
}

.List__Item {
  box-sizing: border-box;
  width: 100%;
  padding: 5px 10px;
  cursor: pointer;

  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 400;
  text-align: center;
  color: var(--text-color);
}

.List__Item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* MODIFIERS */

.List__Icon_up {
  transform: rotate(180deg);
}

.List__Content_visible {
  display: flex;
}

.List__Content_hidden {
  display: none;
}
