/* BLOCK */

.Bar {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
  margin: 0px 0.15%;
  border: solid 1px grey;
}

@media screen and (max-width: 600px) {
  .Bar {
    margin: 0px 1px;
  }
}

/* ELEMENTS */

.Bar__Value {
  font-family: 'Nunito', sans-serif;
  font-size: 1em;
  font-weight: 400;
  user-select: none;
  color: var(--text-color-ligth);
}

@media screen and (max-width: 800px) {
  .Bar__Value {
    display: none;
  }
}

/* MODIFIERS */

.Bar_default {
  background-color: var(--bar-default-color);
}

.Bar_sorted {
  background-color: var(--bar-sorted-color);
}

.Bar_groupA {
  background-color: var(--bar-group-a-color);
  margin: 0px 0.7%;
}

.Bar_groupB {
  background-color: var(--bar-group-b-color);
  margin: 0px 0.7%;
}

.Bar_groupC {
  background-color: var(--bar-group-c-color);
  margin: 0px 0.7%;
}
