/* BLOCK */

.Bar {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
  margin: 0px 0.15%;
  border: solid 1px grey;
}

/* ELEMENTS */

.Bar__Value {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  font-weight: 400;
  user-select: none;
  color: white;
}

/* MODIFIERS */

.Bar_default {
  background-color: var(--bar-default-color);
}

.Bar_sorted {
  background-color: var(--bar-sorted-color);
}

.Bar_compared {
  background-color: var(--bar-compared-color);
  margin: 0px 0.7%;
}

.Bar_swapped {
  background-color: var(--bar-swapped-color);
  margin: 0px 0.7%;
}
