@import url('./util/colors.css');

.App {
  --app-bar-height: 70px;

  width: 100vw;
  height: auto;
  overflow: scroll;
  background-color: var(--background-color);
}

.App__Header {
  height: var(--app-bar-height);
}

.App__Body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  padding: 30px;
  width: 100%;
  min-height: calc(90vh - var(--app-bar-height));
}

.App__Footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 10vh;
}
